<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" name="id" value="<%=singleData.id%>" hidden>
        <input type="text" placeholder="name" name="name" value="<%=singleData.name%>">
        <input type="text" placeholder="city" name="city" value="<%=singleData.city%>">
        <button type="submit">update</button>
    </form>
   
</body>
</html>