<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addData" method="post">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="city" name="city">
        <button type="submit">Submit</button>
    </form>
    <table border="1" width="50%">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.map((e,i)=>{ %>
              <tr>
                <td><%= e.name%></td>
                <td><%= e.city%></td>
                <td>
                    <a href="/edit?id=<%=e.id%>"><button>edit</button></a>
                    <a href="/delete?id=<%=e.id%>"><button>delete</button></a>
                </td>
              </tr>  
            <% }) %>
        </tbody>
    </table>
</body>
</html>