<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <form action="/updateData" method="post">
        <input type="text" value="<%=singleData.id%>" hidden name="id">
        <input type="text" value="<%=singleData.name%>" placeholder="Enter your name" name="name">
        <input type="text" value="<%=singleData.subject%>" placeholder="Enter your subject" name="subject">
        <input type="text" value="<%=singleData.city%>" placeholder="Enter your city" name="city">
        <button type="submit">Submit</button>
    </form>
</body>
</html>