<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="stylesheet" href="../public/add.css">
    <link rel="stylesheet" href="../public/animesan.js">
</head>
<body>
    <section>
    <div class="form-container">
        <div class="tital">
            <h1>Add a New Movie</h1>
        </div>
        <div class="frm-inp">
            <form class="form-add" action="/send" method="post" enctype="multipart/form-data">
                <div class="file-label">
                    <input type="file"  name="image" id="image" required>
                    <span>Upload Movie Poster</span>
                </div>
                <div class="inp1">
                    <input type="text" placeholder="Movie Name" name="name" required>
                </div>
                <div class="inp2">
                    <input type="text" placeholder="Title" name="title" required>
                </div>
                <div class="inp3">
                    <input type="date" placeholder="date" name="date" required>
                </div>
                <div class="inp4">
                    <input type="time" placeholder="time" name="time" required>
                </div>
                <div class="inp">
                    <button type="submit">Add Movie</button>
                </div>

            </form>
        </div>
    </div>
</section>
</body>
</html>